##Big log Data
*/archive_data/logData/voyages/*
*/prototype_experiments/data_files/*
*.ndjson
*.db
*.log

##Node
*node_modules/
*/package-lock.json

##Python and Interpreter
*venv/*
__pycache__
*/__pycache__
**/__pycache__

##Dev Env
*/.DS_Store
**/.DS_Store
.DS_Store
*.idea/

##secrets
.private/*

