<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>MAIN PAGE</title>
</head>
<body>
    <div class = "index_wrapper">
        <p1> TODO [voyage_name] {{voyage_id}} </p1>
        <div class = "logger_status_wrapper">
            {% if logging_flag == True: %}
            <div>
                <p1> LOGGING </p1>
            </div>
            <div>
                <form action = "{{ url_for('stop_log') }}" method = "GET">
                    <input type="hidden" name="voyage_id" value={{voyage_id}} />
                    <p><input type = "submit" value = "STOP LOGGING" /></p>
                </form>
            </div>

            {% else %}
            <div>
                <p1> LOGGING PAUSED </p1>
            </div>
            <div>
                <form action = "{{ url_for('start_log') }}" method = "POST">
                    <input type="hidden" name="voyage_id" value={{voyage_id}} />
                    <p><input type = "submit" value = "START LOGGING" /></p>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="sail_change_wrapper">
            <form action = "{{ url_for('sail_change', voyage_id=voyage_id) }}"  method = "GET">
                <p><input type = "submit" value = "SAIL CHANGE" /></p>
            </form>
        </div>
    </div>
</body>
</html>